body {
  font: 1em Ubuntu, sans-serif;
  background: #fff;
  font-weight: 400;
  padding: 20px;
  margin: 0px;
}

h1,h2,h3,h4 {
  font-weight: 400;
  font-family: Kreon, serif;
  line-height: 1.1em;
  margin: 0.5em 0;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

header {
  padding: 10px 20px;
}
section {
  padding: 10px 20px;
}

nav.externalLinks {
  text-align: center;
  display: block;
}
nav.externalLinks a {
  opacity: 0.8;
  -moz-transform: translate(0, 4px);
  -moz-transition: 0.2s -moz-transform;
  -moz-transition-delay: 0.5s;
}
nav.externalLinks a:hover {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -moz-transition-delay: 0s;
}

article#home > header, article#home > section {
  border: 5px dashed white;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
article#home > header:hover, article#home > section:hover {
  background-color: #EFD;
}

a { 
  color:#33CC00; 
  text-decoration:none; 
}
a:hover { text-decoration: underline; }

abbr { border: none; }

header {
  color: #333;
  margin: 0 auto;
  width: 550px;
  margin-bottom: 50px;
}

#container {
  width: 900px;
  margin: 0 auto;
}
article {
  width: 520px;
}
aside {
  float: right;
  width: 360px;
}
section.articles {
  min-height: 150px;
}

section.twitts {
  min-height: 150px;
}


.twtr-hd, .twtr-ft {
  display: none;
}
.twtr-widget .twtr-tweet {
  border: none !important;
}

#twtr-widget-1 {
  font-family: inherit !important;
}

#twtr-widget-1 .twtr-tweet a.twtr-user {
    background: #0A0;
    color: white !important;
    padding: 0px 4px;
    position: relative;
    margin-right: 8px;
}
#twtr-widget-1 .twtr-tweet a.twtr-user:hover {
  text-decoration: none !important;
  background: #080 !important;
}
#twtr-widget-1 .twtr-tweet a.twtr-user:hover:after {
    border-color: transparent transparent transparent #080;
}
#twtr-widget-1 .twtr-tweet a.twtr-user:after {
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid;
    content: " ";
    border-color: transparent transparent transparent #0A0;
    right: -15px;
    top: 0;
}
#twtr-widget-1 .twtr-tweet em a {
  color: #999 !important;
}

#articles {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif;
  font-size: 12px;
}
#articles li {
  margin-bottom: 4px;
}
#articles time {
  opacity: 0.5;
  display: block;
  margin-left: 20px;
}
#articles a.title {
  color: #270;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
footer {
  clear: both;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}
footer a {
  color: #666;
}

